./Module6/Instructor_Resources/SD_Card_Images/sdimg.zip
./Module6/Instructor_Resources/SD_Card_Images/vfat_partition/image.ub
./Module6/Instructor_Resources/SD_Card_Images/vfat_partition/rootfs.cpio.gz.u-boot
./Module6/Instructor_Resources/SD_Card_Images/vfat_partition_with_python/image.ub
./Module6/Instructor_Resources/SD_Card_Images/vfat_partition_with_python/rootfs.cpio.gz.u-boot
